.zdjecie{
    background: url("../image/imprint.jpg") center left;
    background-size: cover;
    height: 400px;
}
article>h2 {
    margin-top: 20px;
}

.img-fluid {
    margin-top: 20px;
}

figure{
    padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .zdjecie{
        background: url("../image/imprint.jpg") right center;
        background-size: cover;
        height: 400px;
    }
}