@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.zdjecie{
    background: url("../image/bus-stop.jpg") top center;
    background-size: cover;
    height: 400px;
}

.jazda{
    margin: 20px 0 50px;

}

.bus{
    text-align: center;
    margin: 10px;
}
.tablica{
    padding-bottom: 50px;
}

.historia p {
    margin: 0;
    padding: 0;
}
.historia{
    padding-bottom: 20px;
}

@media screen and (max-width: 1260px){
    .jazda{
        margin: 20px 0 50px;
        text-align: center;
    }
}